<ion-header>
  <ion-toolbar color="dark">

    <ion-title>
      Game Survey Campus
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="inicio-content ion-padding">

  <!-- BIENVENIDA -->

  <ion-card class="welcome-card">

    <img
      src="https://images7.alphacoders.com/133/1338701.png">

    <ion-card-header>

      <ion-card-title>
        Bienvenido a Game Survey Campus
      </ion-card-title>

    </ion-card-header>

    <ion-card-content>

      Aplicación desarrollada en Ionic Angular
      para registrar videojuegos favoritos
      dentro del campus universitario.

    </ion-card-content>

  </ion-card>

  <!-- FUNCIONES -->

  <ion-card>

    <ion-card-header>
      <ion-card-title>
        Funciones de la aplicación
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item>
          <ion-icon
            name="clipboard"
            slot="start"
            color="primary">
          </ion-icon>

          Registrar encuestas gamer
        </ion-item>

        <ion-item>
          <ion-icon
            name="camera"
            slot="start"
            color="danger">
          </ion-icon>

          Tomar evidencias fotográficas
        </ion-item>

        <ion-item>
          <ion-icon
            name="location"
            slot="start"
            color="success">
          </ion-icon>

          Registrar ubicación GPS
        </ion-item>

        <ion-item>
          <ion-icon
            name="game-controller"
            slot="start"
            color="warning">
          </ion-icon>

          Consultar videojuegos
        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

  <!-- MENSAJE -->

  <ion-card color="primary">

    <ion-card-content>

      🎮 ¿Te gustaría probar nuestra app gamer?
      Escanea el QR o descarga el APK.

    </ion-card-content>

  </ion-card>

</ion-content>